@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");
@import url("https://fonts.googleapis.com/css?family=Inter:700,400|Noto+Sans+KR:500,700,300,400|Lato:700|Aboreto:400|Noto+Serif+Malayalam:700");
/* The following line is used to measure usage of this code. You can remove it if you want. */
@import url("https://px.animaapp.com/6729b948983199123a03b5b6.6729b949983199123a03b5b9.E0mY5lw.hcp.png");



.screen a {
  display: contents;
  text-decoration: none;
}

.container-center-horizontal {
  display: flex;
  flex-direction: row;
  justify-content: center;
  pointer-events: none;
  width: 100%;
}

.container-center-horizontal > * {
  flex-shrink: 0;
  pointer-events: auto;
}

.valign-text-middle {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

* {
  box-sizing: border-box;
}



:root { 
    --black: #000000;
    --coconut: #fdfdfd;
    --niagara: #03b288;
    --shark: #262626;
    --white: #ffffff;
   
    --font-size-l: 16px;
    --font-size-m: 12px;
    --font-size-s: 11px;
    --font-size-xl: 18px;
    --font-size-xxl: 20px;
    --font-size-xxxl: 24px;
    --font-size-xxxxl: 48px;
   
    --font-family-aboreto: "Aboreto", Helvetica;
    --font-family-inter: "Inter", Helvetica;
    --font-family-lato: "Lato", Helvetica;
    --font-family-noto_sans_kr: "Noto Sans KR", Helvetica;
    --font-family-noto_serif_malayalam: "Noto Serif Malayalam", Helvetica;
  }
  .notosanskr-medium-black-16px {
    color: var(--black);
    font-family: var(--font-family-noto_sans_kr);
    font-size: var(--font-size-l);
    font-style: normal;
    font-weight: 500;
  }
  
  .inter-normal-white-16px {
    color: var(--white);
    font-family: var(--font-family-inter);
    font-size: var(--font-size-l);
    font-style: normal;
    font-weight: 400;
  }
  
  .notosanskr-normal-shark-18px {
    color: var(--shark);
    font-family: var(--font-family-noto_sans_kr);
    font-size: var(--font-size-xl);
    font-style: normal;
    font-weight: 400;
  }
  
  .notosanskr-light-coconut-12px {
    color: var(--coconut);
    font-family: var(--font-family-noto_sans_kr);
    font-size: var(--font-size-m);
    font-style: normal;
    font-weight: 300;
  }

  

  /* screen - itemdetail */

.itemdetail {
    align-items: center;
    background-color: #f8f8f8;
    display: flex;
    flex-direction: column;
    min-height: 1488px;
    overflow-x: hidden;
    width: 1920px;
  }
  
  .itemdetail .header {
    align-items: flex-start;
    background-color: transparent;
    display: flex;
    flex-direction: row;
    flex-shrink: 1;
    justify-content: flex-start;
    margin-left: 4.0px;
    margin-top: 16px;
    min-width: 1922px;
    width: auto;
  }
  
  .itemdetail .overlap-group4 {
    height: 126px;
    position: relative;
    width: 1920px;
  }
  
  .itemdetail .overlap-group3 {
    height: 126px;
    left: 0;
    position: absolute;
    top: 0;
    width: 1920px;
  }
  
  .itemdetail .container {
    align-items: center;
    background-color: #ffffff80;
    display: flex;
    height: 65px;
    left: 0;
    padding: 16px 29px;
    position: absolute;
    top: 61px;
    width: 1920px;
  }
  
  .itemdetail .sidebar {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    gap: 6px;
    margin-top: 1.0px;
    min-height: 24px;
    width: 25px;
  }
  
  .itemdetail .border {
    border-bottom-style: solid;
    border-bottom-width: 3px;
    border-color: var(--shark);
    border-top-style: solid;
    border-top-width: 3px;
    height: 3px;
    width: 25px;
  }
  
  .itemdetail .horizontal-border {
    border-color: var(--shark);
    border-top-style: solid;
    border-top-width: 3px;
    height: 6px;
    width: 25px;
  }
  
  .itemdetail .navbar {
    align-items: flex-start;
    align-self: flex-end;
    display: flex;
    gap: 78px;
    height: 22px;
    margin-bottom: 2px;
    margin-left: 557px;
    min-width: 722px;
  }
  
  .itemdetail .navbar-link-text-18 {
    width: 86px;
  }
  
  .itemdetail .navbar-link-text-15 {
    width: 100px;
  }
  
  .itemdetail .navbar-link-text-19 {
    width: 74px;
  }
  
  .itemdetail .navbar-link-text-16 {
    align-self: flex-end;
    color: var(--shark);
    font-family: var(--font-family-aboreto);
    font-size: var(--font-size-xl);
    font-weight: 400;
    width: 70px;
  }
  
  .itemdetail .navbar-link-text-17 {
    width: 70px;
  }
  
  .itemdetail .image-1 {
    align-self: flex-start;
    height: 31px;
    margin-left: 443px;
    object-fit: cover;
    width: 31px;
  }
  
  .itemdetail .group {
    height: 24px;
    margin-bottom: 0.5px;
    margin-left: 34px;
    width: 26px;
  }
  
  .itemdetail .cc {
    color: transparent;
    font-family: var(--font-family-noto_serif_malayalam);
    font-size: var(--font-size-xxxxl);
    font-weight: 700;
    height: 71px;
    left: 916px;
    letter-spacing: -4.00px;
    line-height: 20px;
    position: absolute;
    top: 0;
    width: 89px;
  }
  
  .itemdetail .span {
    color: var(--shark);
    letter-spacing: -1.92px;
  }
  
  .itemdetail .span1 {
    color: #cbd2a4;
    letter-spacing: -1.92px;
  }
  
  .itemdetail .sidemenu {
    align-items: flex-end;
    display: flex;
    gap: 17px;
    height: 17px;
    left: 1738px;
    min-width: 145px;
    position: absolute;
    top: 32px;
  }
  
  .itemdetail .text-21 {
    color: var(--shark);
    font-family: var(--font-family-noto_sans_kr);
    font-size: 14px;
    font-weight: 500;
    height: 17px;
    letter-spacing: 0;
    line-height: normal;
    width: 40px;
  }
  
  .itemdetail .vertical-divider {
    background-color: #bbbbbb;
    height: 12px;
    margin-bottom: 1px;
    width: 1px;
  }
  
  .itemdetail .text-20 {
    color: var(--shark);
    font-family: var(--font-family-noto_sans_kr);
    font-size: 14px;
    font-weight: 500;
    height: 17px;
    letter-spacing: 0;
    line-height: normal;
    width: 66px;
  }
  
  .itemdetail .overlap-group5 {
    height: 1084px;
    margin-left: 3.0px;
    margin-top: 62px;
    position: relative;
    width: 1197px;
  }
  
  .itemdetail .background {
    align-items: flex-start;
    display: flex;
    height: 1084px;
    left: 0;
    padding: 140px 30px;
    position: absolute;
    top: 0;
    width: 1197px;
  }
  
  .itemdetail .horizontal-border-1 {
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-color: #deebff;
    height: 48px;
    width: 1137px;
  }
  
  .itemdetail .heading-4-product-details {
    color: #212326;
    font-family: var(--font-family-inter);
    font-size: var(--font-size-xxxl);
    font-weight: 700;
    height: 29px;
    left: 469px;
    letter-spacing: 0;
    line-height: 28.8px;
    position: absolute;
    top: 0;
    white-space: nowrap;
    width: 450px;
  }
  
  .itemdetail .background-1 {
    background-color: var(--white);
    border-radius: 4px;
    box-shadow: 0px 4px 4px #00000040;
    height: 940px;
    left: 30px;
    position: absolute;
    top: 90px;
    width: 1149px;
  }
  
  .itemdetail .flex-row {
    align-items: flex-end;
    height: 64px;
    left: 60px;
    min-width: 1055px;
    top: 66px;
  }
  
  .itemdetail .image {
    align-self: flex-start;
    background-image: url(../img/image@2x.png);
    background-position: 50% 50%;
    background-size: cover;
    height: 63px;
    width: 80px;
  }
  
  .itemdetail .link {
    align-items: flex-start;
    background-color: var(--niagara);
    border-radius: 3px;
    display: flex;
    margin-left: 709px;
    overflow: hidden;
    width: 126px;
  }
  
  .itemdetail .overlap-group {
    border-radius: 2px;
    height: 53px;
    position: relative;
    width: 126px;
  }
  
  .itemdetail .text {
    height: 20px;
    left: 43px;
    letter-spacing: 0;
    line-height: 24px;
    position: absolute;
    text-align: center;
    top: 16px;
    white-space: nowrap;
    width: 40px;
  }
  
  .itemdetail .small-btn_brown {
    align-items: flex-start;
    background-color: #54473f;
    border-radius: 2px;
    display: flex;
    height: 53px;
    left: 0;
    min-width: 126px;
    padding: 20px 26px;
    position: absolute;
    top: 0;
  }
  
  .itemdetail .text-1 {
    height: 12px;
    letter-spacing: 0;
    line-height: 18px;
    text-align: center;
    white-space: nowrap;
    width: 72px;
  }
  
  .itemdetail .link-1 {
    margin-left: 14px;
  }
  
  .itemdetail .overlap-group1 {
    border-radius: 3px;
    height: 53px;
    position: relative;
    width: 126px;
  }
  
  .itemdetail .text-1-1 {
    height: 20px;
    left: 25px;
    letter-spacing: 0;
    line-height: 24px;
    position: absolute;
    text-align: center;
    top: 16px;
    white-space: nowrap;
    width: 76px;
  }
  
  .itemdetail .link-2 {
    height: 53px;
    left: 0;
    position: absolute;
    top: 0;
  }
  
  .itemdetail .x1ac11794-378f-404e-a96e-845e1444f16cjpg {
    background-image: url(../img/1ac11794-378f-404e-a96e-845e1444f16c-jpg@2x.png);
    background-position: 50% 50%;
    background-size: cover;
    height: 476px;
    left: 24px;
    position: absolute;
    top: 187px;
    width: 481px;
  }
  
  .itemdetail .flex-col {
    align-items: flex-start;
    flex-direction: column;
    gap: 31px;
    left: 580px;
    min-height: 409px;
    top: 194px;
    width: 373px;
  }
  
  .itemdetail .heading-3 {
    color: var(--black);
    font-family: var(--font-family-noto_sans_kr);
    font-size: var(--font-size-xxl);
    font-weight: 700;
    height: 29px;
    letter-spacing: 0;
    line-height: normal;
    width: 373px;
  }
  
  .itemdetail .table-body {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    padding: 35px 8px;
    position: relative;
    width: 361px;
  }
  
  .itemdetail .table-body-item {
    align-self: stretch;
    height: 31px;
    position: relative;
    width: 100%;
  }
  
  .itemdetail .data {
    height: 23px;
    left: 0;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 3px;
    width: 69px;
  }
  
  .itemdetail .data-2 {
    align-items: flex-end;
    top: 5px;
  }
  
  .itemdetail .text-6 {
    height: 23px;
    letter-spacing: 0;
    line-height: normal;
    margin-bottom: -4px;
    width: 190px;
  }
  
  .itemdetail .data-1 {
    align-items: flex-start;
    top: 5px;
  }
  
  .itemdetail .g2000002676 {
    height: 23px;
    letter-spacing: 0;
    line-height: normal;
    margin-top: -1px;
    width: 137px;
  }
  
  .itemdetail .text-7 {
    height: 23px;
    letter-spacing: 0;
    line-height: normal;
    margin-top: -1px;
    width: 137px;
  }
  
  .itemdetail .x1ea {
    height: 23px;
    letter-spacing: 0;
    line-height: normal;
    margin-top: -1px;
    width: 30px;
  }
  
  .itemdetail .text-8 {
    height: 23px;
    letter-spacing: 0;
    line-height: normal;
    margin-top: -1px;
    width: 30px;
  }
  
  .itemdetail .data-3 {
    align-items: flex-start;
    top: 16px;
  }
  
  .itemdetail .x10kg {
    height: 23px;
    letter-spacing: 0;
    line-height: normal;
    margin-top: -13px;
    width: 49px;
  }
  
  .itemdetail .data-4 {
    align-items: flex-start;
    padding: 0 12px;
    top: 11px;
  }
  
  .itemdetail .text-9 {
    height: 23px;
    letter-spacing: 0;
    line-height: normal;
    margin-top: -8px;
    width: 30px;
  }
  
  .itemdetail .number {
    height: 23px;
    letter-spacing: 0;
    line-height: normal;
    margin-top: -1px;
    width: 30px;
  }
  
  .itemdetail .flex-col-1 {
    align-items: flex-end;
    gap: 33px;
    left: 17px;
    min-height: 193px;
    position: absolute;
    top: 694px;
    width: 1085px;
  }
  
  .itemdetail .flex-row-1 {
    align-items: center;
    display: flex;
    min-width: 1085px;
  }
  
  .itemdetail .background-2 {
    background-color: #729e07;
    height: 3px;
    margin-bottom: 1.0px;
    width: 481px;
  }
  
  .itemdetail .text-10 {
    color: var(--black);
    font-family: var(--font-family-lato);
    font-size: var(--font-size-l);
    font-weight: 700;
    height: 64px;
    letter-spacing: -0.65px;
    line-height: 64px;
    margin-left: 19px;
    min-width: 92px;
    text-align: center;
    white-space: nowrap;
  }
  
  .itemdetail .background-3 {
    background-color: #729e07;
    height: 3px;
    margin-bottom: 1.0px;
    margin-left: 12px;
    width: 481px;
  }
  
  .itemdetail .frame-101 {
    align-items: flex-start;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-color: var(--black);
    display: flex;
    flex-direction: column;
    position: relative;
    width: 1078px;
  }
  
  .itemdetail .frame-99 {
    align-items: center;
    align-self: stretch;
    border-color: var(--black);
    border-top-style: solid;
    border-top-width: 2px;
    display: flex;
    flex: 0 0 auto;
    margin-left: -1.00px;
    margin-right: -1.00px;
    margin-top: -1.00px;
    padding: 0px 10px;
    position: relative;
    width: 100%;
  }
  
  .itemdetail .frame-97 {
    height: 48px;
    position: relative;
    width: 315px;
  }
  
  .itemdetail .text-11 {
    height: 48px;
    left: 0;
    letter-spacing: -0.65px;
    line-height: 48px;
    position: absolute;
    text-align: center;
    top: -1px;
    white-space: nowrap;
  }
  
  .itemdetail .frame-98 {
    height: 48px;
    margin-right: -18.00px;
    position: relative;
    width: 763px;
  }
  
  .itemdetail .text-12 {
    color: var(--black);
    font-family: var(--font-family-noto_sans_kr);
    font-size: var(--font-size-l);
    font-weight: 300;
    height: 48px;
    left: 0;
    letter-spacing: -0.65px;
    line-height: 48px;
    position: absolute;
    text-align: center;
    top: -1px;
    white-space: nowrap;
  }
  
  .itemdetail .frame-100 {
    align-items: center;
    align-self: stretch;
    border-color: #eaeaea;
    border-top-style: solid;
    border-top-width: 1px;
    display: flex;
    flex: 0 0 auto;
    margin-bottom: -1.00px;
    margin-left: -1.00px;
    margin-right: -1.00px;
    padding: 0px 10px;
    position: relative;
    width: 100%;
  }
  
  .itemdetail .text-13 {
    height: 48px;
    left: 7px;
    letter-spacing: -0.65px;
    line-height: 48px;
    position: absolute;
    text-align: center;
    top: -1px;
    white-space: nowrap;
  }
  
  .itemdetail .text-14 {
    color: var(--black);
    font-family: var(--font-family-noto_sans_kr);
    font-size: var(--font-size-l);
    font-weight: 300;
    height: 48px;
    left: 30px;
    letter-spacing: -0.65px;
    line-height: 48px;
    position: absolute;
    text-align: center;
    top: -1px;
    white-space: nowrap;
  }
  
  .itemdetail .footer {
    align-items: center;
    background-color: #9a7e6f;
    display: flex;
    flex-direction: row;
    flex-shrink: 1;
    height: 200px;
    justify-content: flex-start;
    min-width: 1920px;
    width: auto;
  }
  
  .itemdetail .footer-contents {
    align-items: flex-end;
    display: flex;
    gap: 19px;
    height: 150px;
    padding: 22.1px 340px;
    width: 1920px;
  }
  
  .itemdetail .flex-row-2 {
    align-items: flex-start;
    display: flex;
    gap: 30px;
    min-width: 893px;
  }
  
  .itemdetail .flex-col-2 {
    align-items: flex-start;
    gap: 3px;
    margin-top: 0.12px;
    min-height: 59px;
    width: 862px;
  }
  
  .itemdetail .overlap-group-1 {
    height: 39px;
    position: relative;
    width: 862px;
  }
  
  .itemdetail .x {
    height: 37px;
    left: 0;
    letter-spacing: 0;
    line-height: 20px;
    position: absolute;
    top: 0;
    width: 606px;
  }
  
  .itemdetail .text-22 {
    color: var(--white);
    font-family: var(--font-family-noto_sans_kr);
    font-size: var(--font-size-m);
    font-weight: 300;
    height: 17px;
    left: 421px;
    letter-spacing: 0;
    line-height: 18px;
    position: absolute;
    text-align: center;
    top: 21px;
    white-space: nowrap;
    width: 77px;
  }
  
  .itemdetail .text-23 {
    height: 17px;
    left: 508px;
    letter-spacing: 0;
    line-height: 20px;
    position: absolute;
    top: 20px;
    white-space: nowrap;
    width: 354px;
  }
  
  .itemdetail .copyright {
    height: 17px;
    letter-spacing: 0;
    line-height: 20px;
    margin-bottom: -3px;
    white-space: nowrap;
  }
  
  .itemdetail .vertical-divider-1 {
    background-color: #e5e5e5;
    height: 87px;
    width: 1px;
  }
  
  .itemdetail .flex-col-3 {
    align-items: flex-start;
    gap: 15px;
    margin-bottom: 2.21px;
    min-height: 86px;
    width: 319px;
  }
  
  .itemdetail .heading-3-1 {
    color: var(--coconut);
    font-family: var(--font-family-noto_sans_kr);
    font-size: var(--font-size-m);
    font-weight: 400;
    height: 53px;
    letter-spacing: -0.50px;
    line-height: 18px;
    width: 294px;
  }
  
  .itemdetail .span0 {
    font-weight: 500;
    letter-spacing: -0.06px;
  }
  
  .itemdetail .span1-1 {
    font-weight: 300;
    letter-spacing: -0.06px;
  }
  
  .itemdetail .text-container {
    align-items: center;
    display: flex;
    gap: 17px;
    min-width: 319px;
  }
  
  .itemdetail .text-24 {
    height: 18px;
    letter-spacing: -0.50px;
    line-height: 18px;
    white-space: nowrap;
    width: 211px;
  }
  
  .itemdetail .text-25 {
    color: var(--white);
    font-family: var(--font-family-noto_sans_kr);
    font-size: var(--font-size-s);
    font-weight: 300;
    height: 16px;
    letter-spacing: -0.50px;
    line-height: 18px;
    margin-bottom: 0.46px;
    text-align: center;
    white-space: nowrap;
    width: 91px;
  }
  
  .itemdetail .data-5 {
    display: flex;
    height: 21px;
    left: 125px;
    min-width: 220px;
    position: absolute;
  }
  
  .itemdetail .flex {
    display: flex;
    position: absolute;
  }
  
  .itemdetail .flex-col-4 {
    display: flex;
    flex-direction: column;
  }
  
  .itemdetail .link-3 {
    align-items: flex-start;
    background-color: var(--niagara);
    border-radius: 3px;
    display: flex;
    overflow: hidden;
    width: 126px;
  }
  
  .itemdetail .navbar-link-text {
    height: 20px;
    letter-spacing: 0;
    line-height: normal;
    text-align: center;
    white-space: nowrap;
  }
  